<% provide(:title, "Ayuda") %>
<h1>Ayuda</h1>
<p>
  Tweety App es un clon de Twitter funcional que cumple las funciones de registro de nuevos usuarios, cambio de contraseña, activación de cuenta por medio de email, posteo de textos e imagenes, capacidad de seguir usuarios entre otras funcionalidades.
</p>