<h1>Resetear contraseña</h1>

<p>Para resetear tu contraseña hace click en el siguiente enlace, </p>

<%= link_to "Resetear contraseña", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>El link expirará en 2 horas.</p>

<p>Si no solicitaste el reseteo de contraseña, por favor ignora este correo y tu contraseña seguira siendo la misma.</p>
