<footer class="footer">
  <small>
    Twitter App desarrollado por
    <a href="http://matiasramos.net/">Matias Ramos</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre Tweety App",   about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
      <li><a href="http://matiasramos.net/blog">Noticias</a></li>
    </ul>
  </nav>
</footer>